<a href="https://colab.research.google.com/github/Petegichana/Machine-Learning-Algorithms/blob/main/1SampleTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#scipy
#one step t test
#two step t test
#paired t test

#one way anova (analysis of variance)
#two way anova

In [2]:
import pandas as pd 
students=pd.read_csv("https://modcom.co.ke/data/datasets/schoolcleaned.csv")  
students.head()

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime,Performance,Total
0,0,43783,1995-03-22,2014-08-04,2019-05-13,Unknown,uknown,Male,Non-Athlete,217.05,...,60.02,81.440000,In state,On Campus,Other,27.149573,7.0,1.0,Failed,222.960000
1,29,20230,1996-01-02,2014-08-04,2020-05-11,Freshmen,pre-pharma,Male,Athlete,240.33,...,65.36,76.070000,In state,On Campus,Other,27.149573,8.0,3.0,Failed,217.030000
2,30,21083,1995-12-22,2014-08-04,2020-05-11,Freshmen,uknown,Female,Non-Athlete,216.15,...,68.53,71.420000,In state,Off Campus,Car,26.000000,5.0,3.0,Failed,226.870000
3,31,21939,1995-12-12,2014-08-04,2020-05-11,Freshmen,uknown,Male,Athlete,198.27,...,61.61,79.521683,In state,Off Campus,Car,39.000000,6.0,5.0,Failed,222.231683
4,32,23017,1995-11-29,2014-08-04,2020-05-11,Freshmen,uknown,Unknown,Non-Athlete,215.16,...,65.25,72.610000,In state,Off Campus,Bike,8.000000,8.0,4.0,Failed,222.050000

In [3]:
popu_weight = students['Weight']
popu_weight

0      181.031569
1      181.031569
2      234.640000
3      181.031569
4      224.570000
          ...
402    181.031569
403    131.920000
404    130.070000
405    157.260000
406    152.330000
Name: Weight, Length: 407, dtype: float64

In [4]:
popu_weight.mean()

180.98365570599617

In [5]:
weight_sample = popu_weight.sample(20)
weight_sample

285    181.031569
404    130.070000
74     140.920000
154    126.470000
241    116.990000
381    161.720000
153    217.450000
363    272.580000
380    226.480000
251    178.580000
297    150.220000
266    150.230000
61     180.440000
169    149.180000
104    189.230000
163    161.610000
239    161.080000
228    153.720000
370    163.190000
392    212.080000
Name: Weight, dtype: float64

In [6]:
#hypothesis
# Ho mean of the sample = to mean of population -> null hypothesis
# H1 mean of the sample is not equal to mean population -> alternative

#alpha = 1 - 0.95
#alpha = 0.05

from scipy.stats import ttest_1samp
statistic ,pvalue = ttest_1samp(a=weight_sample, popmean=180.98365570599617)
print('The pvalue is', pvalue)
if pvalue > 0.5:
  print("Accept null hypothesis")
  print("Reject Alternative")
else:
  print("Reject null hypothesis")
  print("Accept Alternative")

The pvalue is 0.2607502241060678
Reject null hypothesis
Accept Alternative

In [7]:
score_math = students['Math']
score_math

0      60.02
1      65.36
2      68.53
3      61.61
4      65.25
       ...
402    65.31
403    70.25
404    58.16
405    66.84
406    60.24
Name: Math, Length: 407, dtype: float64

In [8]:
score_math.mean()

65.58251627327456

In [9]:
math_sample = score_math.sample(20)
math_sample

161    73.250000
392    62.850000
122    63.490000
290    56.270000
293    60.120000
88     65.468009
49     66.460000
281    46.680000
39     58.970000
268    81.010000
138    59.100000
191    69.470000
128    71.090000
398    59.710000
307    60.050000
199    58.290000
91     68.610000
107    64.170000
178    68.590000
63     81.440000
Name: Math, dtype: float64

In [10]:
from scipy.stats import ttest_1samp
statistic ,pvalue = ttest_1samp(a=math_sample, popmean=65.58251627327456)
print('The pvalue is', pvalue)
if pvalue > 0.5:
  print("Accept null hypothesis")
  print("Reject Alternative")
else:
  print("Reject null hypothesis")
  print("Accept Alternative")

The pvalue is 0.6582751464011031
Accept null hypothesis
Reject Alternative