<a href="https://colab.research.google.com/github/Petegichana/Machine-Learning-Algorithms/blob/main/LoanApproval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
data = pandas.read_csv("https://modcom.co.ke/datasets/bank.csv")
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

MISSING VALUES:
1. CATEGORICAL DATA

In [ ]:
data.groupby("Gender").size()

Gender
Female    112
Male      489
dtype: int64

In [ ]:
data["Gender"].fillna(2, inplace=True)
data.isnull().sum()
data.groupby("Gender").size()

Gender
2          13
Female    112
Male      489
dtype: int64

In [ ]:
data["Gender"].replace({'Male': 0, 'Female': 1, 'Others':2}, inplace = True)
data.groupby("Gender").size()

Gender
0    489
1    112
2     13
dtype: int64

In [ ]:
data.groupby("Married").size()

Married
No     213
Yes    398
dtype: int64

In [ ]:
data["Married"].fillna(2, inplace=True)
data.isnull().sum()
data.groupby("Married").size()

Married
2        3
No     213
Yes    398
dtype: int64

In [ ]:
data["Married"].replace({'Yes': 0, 'No': 1, 'Unknown':2}, inplace = True)
data.groupby("Married").size()

Married
0    398
1    213
2      3
dtype: int64

In [ ]:
data.groupby("Dependents").size()

Dependents
0     345
1     102
2     101
3+     51
dtype: int64

In [ ]:
data["Dependents"].fillna(4, inplace=True)
data.isnull().sum()
data.groupby("Dependents").size()

Dependents
4      15
0     345
1     102
2     101
3+     51
dtype: int64

In [ ]:
data["Dependents"].replace({'0': 0, '1': 1, '2':2, '3+': 3, 'Unknown': 4}, inplace = True)
data.groupby("Dependents").size()

Dependents
0    345
1    102
2    101
3     51
4     15
dtype: int64

In [ ]:
data.groupby("Self_Employed").size()

Self_Employed
No     500
Yes     82
dtype: int64

In [ ]:
data["Self_Employed"].fillna(2, inplace=True)
data.isnull().sum()
data.groupby("Self_Employed").size()

Self_Employed
2       32
No     500
Yes     82
dtype: int64

In [ ]:
data["Self_Employed"].replace({'No': 0, 'Yes': 1, 'Unknown': 2}, inplace = True)
data.groupby("Self_Employed").size()

Self_Employed
0    500
1     82
2     32
dtype: int64

In [ ]:
data.groupby("Education").size()

Education
Graduate        480
Not Graduate    134
dtype: int64

In [ ]:
data["Education"].fillna(1, inplace=True)
data.isnull().sum()
data.groupby("Education").size()

Education
Graduate        480
Not Graduate    134
dtype: int64

In [ ]:
data["Education"].replace({'Graduate': 0, 'Not Graduate': 1}, inplace = True)
data.groupby("Education").size()

Education
0    480
1    134
dtype: int64

In [ ]:
data.groupby("Property_Area").size()

Property_Area
Rural        179
Semiurban    233
Urban        202
dtype: int64

In [ ]:
data["Property_Area"].fillna(2, inplace=True)
data.isnull().sum()
data.groupby("Property_Area").size()

Property_Area
Rural        179
Semiurban    233
Urban        202
dtype: int64

In [ ]:
data["Property_Area"].replace({'Rural': 0, 'Semiurban': 1, 'Urban':2}, inplace = True)
data.groupby("Property_Area").size()

Property_Area
0    179
1    233
2    202
dtype: int64

In [ ]:
data.groupby("Loan_Status").size()

Loan_Status
N    192
Y    422
dtype: int64

In [ ]:
data["Loan_Status"].fillna(1, inplace=True)
data.isnull().sum()
data.groupby("Loan_Status").size()

Loan_Status
N    192
Y    422
dtype: int64

In [ ]:
data["Loan_Status"].replace({'N': 0, 'Y': 1}, inplace = True)
data.groupby("Loan_Status").size()

Loan_Status
0    192
1    422
dtype: int64

In [ ]:
data["LoanAmount"] = data["LoanAmount"].fillna(method='ffill')
data["LoanAmount"] = data["LoanAmount"].fillna(0)

data["Loan_Amount_Term"] = data["Loan_Amount_Term"].fillna(method='ffill')
data["Credit_History"] = data["Credit_History"].fillna(method='ffill')
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,1,0,0,0,5849,0.0,0.0,360.0,1.0,2,1
1,LP001003,0,0,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,0,0,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,0,0,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,0,1,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,1,1,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,0,0,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,0,0,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,0,0,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,1,1,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [ ]:
data['Loan_Status'].value_counts()

1    422
0    192
Name: Loan_Status, dtype: int64

In [ ]:
approve = data[data.Loan_Status == 1]
denay = data[data.Loan_Status == 0]

In [ ]:
print(approve.shape)
print(denay.shape)

(422, 13)
(192, 13)

In [ ]:
# statistical measures of the data
approve.LoanAmount.describe()

count    422.000000
mean     144.417062
std       85.982551
min        0.000000
25%      100.000000
50%      126.000000
75%      160.750000
max      700.000000
Name: LoanAmount, dtype: float64

In [ ]:
# statistical measures of the data
denay.LoanAmount.describe()

count    192.000000
mean     153.130208
std       91.128979
min        9.000000
25%      100.000000
50%      132.000000
75%      176.000000
max      570.000000
Name: LoanAmount, dtype: float64

In [ ]:
# compare the values for both transactions
data.groupby('Loan_Status').mean()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_Status,,,,,,,,,,,
0,0.244792,0.411458,0.854167,0.270833,0.229167,5446.078125,1877.807292,153.130208,344.875000,0.546875,1.000000
1,0.215640,0.331754,0.836493,0.194313,0.241706,5384.068720,1504.516398,144.417062,340.151659,0.966825,1.054502

Under-Sampling

Build a sample dataset containing similar distribution of 

Number of loans denayed --> 192

In [ ]:
approve_sample = approve.sample(n=192)

In [ ]:
new_dataset = pd.concat([approve_sample, denay], axis=0)
new_dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
336,LP002110,0,0,1,0,2,5250,688.0,160.0,360.0,1.0,0,1
612,LP002984,0,0,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
467,LP002501,2,0,0,0,0,16692,0.0,110.0,360.0,1.0,1,1
453,LP002449,0,0,0,0,0,2483,2466.0,90.0,180.0,0.0,0,1
303,LP001977,0,0,1,0,0,1625,1803.0,96.0,360.0,1.0,2,1

In [ ]:
new_datasets =new_dataset.drop(["Loan_ID"], axis = 1)
new_datasets

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
336,0,0,1,0,2,5250,688.0,160.0,360.0,1.0,0,1
612,0,0,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
467,2,0,0,0,0,16692,0.0,110.0,360.0,1.0,1,1
453,0,0,0,0,0,2483,2466.0,90.0,180.0,0.0,0,1
303,0,0,1,0,0,1625,1803.0,96.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
596,0,0,2,1,1,6383,1000.0,187.0,360.0,1.0,0,0
597,0,1,4,0,0,2987,0.0,88.0,360.0,0.0,1,0
600,1,1,3,0,2,416,41667.0,350.0,180.0,1.0,2,0
605,0,0,0,1,0,2400,3800.0,496.0,180.0,1.0,2,0
613,1,1,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

Splitting the data into Features & Targets

In [ ]:
X = new_datasets.drop(columns='Loan_Status', axis=1)
Y = new_datasets['Loan_Status']

In [ ]:
print(X)

     Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
336       0        0           1          0              2             5250
612       0        0           2          0              0             7583
467       2        0           0          0              0            16692
453       0        0           0          0              0             2483
303       0        0           1          0              0             1625
..      ...      ...         ...        ...            ...              ...
596       0        0           2          1              1             6383
597       0        1           4          0              0             2987
600       1        1           3          0              2              416
605       0        0           0          1              0             2400
613       1        1           0          0              1             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
336              688.0       160.0             360.0             1.0
612                0.0       187.0             360.0             1.0
467                0.0       110.0             360.0             1.0
453             2466.0        90.0             180.0             0.0
303             1803.0        96.0             360.0             1.0
..                 ...         ...               ...             ...
596             1000.0       187.0             360.0             1.0
597                0.0        88.0             360.0             0.0
600            41667.0       350.0             180.0             1.0
605             3800.0       496.0             180.0             1.0
613                0.0       133.0             360.0             0.0

     Property_Area
336              0
612              2
467              1
453              0
303              2
..             ...
596              0
597              1
600              2
605              2
613              1

[384 rows x 11 columns]

In [ ]:
print(Y)

336    1
612    1
467    1
453    1
303    1
      ..
596    0
597    0
600    0
605    0
613    0
Name: Loan_Status, Length: 384, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(384, 11) (307, 11) (77, 11)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy*100)

Accuracy on Training data :  72.31270358306189

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy*100)

Accuracy score on Test Data :  71.42857142857143